html {
  scroll-behavior: smooth;
  /* 스크롤 이동 부드럽게 */
}

.floating-button a {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 60px;
  height: 60px;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
  text-decoration: none;
}