/* html {
    scroll-behavior: smooth;
}

p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

.floating-button a {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 60px;
  height: 60px;
  background-color: rgb(10, 221, 140);
  color: black;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40%;
  box-shadow: 4px 4px 4px;
  text-decoration: none;
} */
/* html {
    scroll-behavior: smooth;
}

p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

.floating {
  position: fixed;
  bottom: 40px;
  right: 30px;
  display: flex;
  font-size: 60px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
} */

* { margin: 0; padding: 0; box-sizing: border-box;}

a { text-decoration: none; color: black;}

.floating {
  position: fixed;
  bottom: 100px;
  right: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: coral;
}
.floating a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 44px;
  font-size: 40px;
  color: white;
  user-select: none;       /* 드래그 방지 */
}

section {
  min-height: 600px;
  width: 100%;
}

section.bg {
  background-color: #ddd;
}

html{ 
  scroll-behavior: smooth;
}