
.container {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    border: 3px dashed orange;
    box-sizing: border-box;
}

.inner { text-align: center;}

.box {
    display: inline-block;
    position: relative;
    width: 300px;
    border: 1px solid #ddd;
    padding: 30px;
    box-sizing: border-box;
    font-size: 20px;
}

.item {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    background-color: royalblue;
    box-sizing: border-box;
    transition: all 0.5s;
}

.absolute {
    position: absolute;
    top: 30px;
    left: 75px;
    background-color: white;
    border: 2px dashed gray;
    z-index: -1;
}

/*
  skew( 배율 )
  : x deg, y deg
  각각 x축, y축 기울기 각도를 지정
*/

.skew1:hover { transform: skew(45deg, 45deg); }
.skew2:hover { transform: skewX(45deg); }
.skew3:hover { transform: skewY(45deg); }

